body {
  /* padding-top: 50px; */
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 62px;
  background-image: url(img/banner.jpg);
  background-size: cover;
  color: #105380;
  text-shadow: 1px 1px 3px #777;
}

.centrality {
  color: #ba121b;
}

.attribution {
  color: #666;
  font-size: 75%;
  margin-top: 4px;
}

#loading-gif {
  margin-top: 75px;
}

#confused-budgie {
  vertical-align: top;
}

#main-inputs {
  text-align: center;
  width: 100%;
  /* For vertical centering, need height = line-height + 2*padding */
  height: 120px;
  line-height: 80px;
  padding: 20px;
  margin: 25px 0;
  background-color: rgba(0,0,0,0.8);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#main-inputs form .form-control,
#main-inputs form .btn {
  font-size: 1.75em;
  height: 1.75em;
}

#social {
  margin-top: 50px;
  color: #105380;
}

#social .fa {
  margin: 0 15px;
}
