/* Stick footer thanks to http://ryanfait.com/html5-sticky-footer/ */
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -177px; /* Has to be negative of .footer, .push height */
}

.footer, .push {
  height: 177px;
}
/* End of stick footer */

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 62px;
  background-image: url(img/banner.jpg);
  background-size: cover;
  color: #105380;
  text-shadow: 1px 1px 3px #777;
}

.centrality {
  color: #ba121b;
}
.centrality:before {
  //content: '\9632';
  content: '\25A0';
}

.attribution {
  color: #666;
  font-size: 75%;
  margin-top: 4px;
}

#loading-gif {
  margin-top: 75px;
}

#confused-budgie {
  vertical-align: top;
}

#main-inputs {
  text-align: center;
  width: 100%;
  /* For vertical centering, need height = line-height + 2*padding */
  height: 120px;
  line-height: 80px;
  padding: 20px;
  margin: 25px 0;
  background-color: rgba(0,0,0,0.8);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#main-inputs form .form-control,
#main-inputs form .btn {
  font-size: 1.75em;
  height: 1.75em;
}

#home-logo {
  vertical-align: middle;
}

#social {
  margin-top: 50px;
  color: #105380;
}

#social .fa {
  margin: 0 15px;
}

.click-icon {
  cursor: pointer;
}

#datalist {
  margin-top: 75px;
}



.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
