<template name="admin_years">
  <div class="panel panel-default">

    {{> admin_panel_heading tag=tag heading="Years"}}

    <div id="collapse_{{tag}}" class="panel-collapse collapse">
      <div class="panel-body">
        <h4>Years with data</h4>
        <p>List of years for drop-down menus</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Year</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each years}}
              <tr>
                <td>{{year}}</td>
                <td><i class="fa fa-pencil"></i></td>
                <td><i class="fa fa-ban text-danger delete-year click-icon"
                    data-year="{{year}}"></i></td>
              </tr>
            {{/each}}
            <tr>
              <td><input type="text" id="year-to-insert"></td>
              <td></td>
              <td><i class="fa fa-plus-circle text-success click-icon insert-year"></i></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
