<template name="admin_budget_categories">
  <div class="row">
    <h2>Centrality-assigned budget categories</h2>
    <p>Categories currently in the system:</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each budget_categories}}
          <tr>
            <td>{{code}}</td>
            <td>{{name}}</td>
            <td>update button</td>
            <td>delete button</td>
          </tr>
        {{/each}}
        <tr>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td>insert button</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  {{> csv_upload tag="budget_categories"}}
</template>
