<template name="admin_municipalities">
  <div class="panel panel-default">

    {{> admin_panel_heading tag=tag heading="Municipalities"}}

    <div id="collapse_{{tag}}" class="panel-collapse collapse">
      <div class="panel-body">
        <h4>Municipalities with data</h4>
        <p>List of municipalities for drop-down menus</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Municipality</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each municipalities}}
              <tr>
                <td>{{municipality_id}}</td>
                <td>{{municipality}}</td>
                <td><i class="fa fa-pencil"></i></td>
                <td><i class="fa fa-ban text-danger"></i></td>
              </tr>
            {{/each}}
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><i class="fa fa-plus-circle text-success"></i></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
