<template name="admin_welcome">
  <div class="row">
    <p class="pull-right">{{> loginButtons}}</p>
    <h1>Hi, Administrator {{currentUser.username.toTitleCase}}!</h1>
    <p class="lead">
      Currently only coarse, rudimentary operations on the data are supported.
      There are a few instances of &ldquo;buttons&rdquo; for updating and
      deleting things, but they are mostly non-functional right now.
    </p>
    <p>
      The exceptions are the add and delete buttons for the list of years.
      These work to change the years that will appear in the drop-down lists,
      though the edit button is non-functional here as well.
    </p>
  </div>
</template>
