<template name="admin">
  <body>
    <div class="container bs-docs-container">
  			{{#unless true}}
          <div class="row">
            <h1>Please {{> loginButtons}}, or return <a href="/">home</a>.</h1>
          </div>
  		  {{else}}
          {{> admin_welcome}} <hr>
          <div class="panel-group" id="accordion">
            {{> admin_years tag="years"}}
            {{> admin_municipalities tag="municipalities"}}
            {{> admin_budget_categories tag="budget_categories"}}
            {{> admin_budget_codes tag="budget_codes"}}
            {{> admin_finance_data tag="finance_data"}}
          </div>
  			{{/unless}}
		</div>
  </body>
</template>
