<template name="contact">
  {{> nav}}

  <div class="container">
    <div class="row">
      <h1>Contact us</h1>
      <p class="lead">
        Budgee was made by Michael
        <a href="https://twitter.com/munderwood"><i class="fa fa-twitter"></i></a>,
        Paul
        <a href="https://twitter.com/paulisci"><i class="fa fa-twitter"></i></a>,
        and Adam
        <a href="https://twitter.com/h2o_bro"><i class="fa fa-twitter"></i></a> at
        <span class="centrality">Centrality Data Science</span>
        <a href="https://www.centrality.ca/"><i class="fa fa-external-link-square"></i></a>.
      </p>
      <p>
        Please get in touch on Twitter or through our homepage if you are
        interested in helping us expand Budgee beyond Alberta&rsquo;s borders,
        or want to request a particular jurisdication to be added.
        We&rsquo;re also happy to try our best to answer any questoins about
        the app, the data, or municipal governments and open data concepts
        in general!
      </p>
    </div>

    <div class="row">
      <h2>See also: CityBlocs</h2>
      <p>
        But wait, there&rsquo;s more! If you like Budgee then you&rsquo;ll also
        want to check out another project of ours.
        <a href="http://cityblocs.ca/">CityBlocs</a> also makes use of freely
        available government data to analyse the voting patterns of city
        councils across Canada.
      </p>
    </div>

  </div> <!-- container -->

  {{> footer}}

</template>
