<template name="contact">
  <div class="wrapper">

    {{> nav}}

    <div class="container">

      <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
          <h1>Contact us</h1>
          <p class="lead">
            Budgee was made by Michael
            <a href="https://twitter.com/munderwood"><i class="fa fa-twitter"></i></a>,
            Paul
            <a href="https://twitter.com/paulisci"><i class="fa fa-twitter"></i></a>,
            and Adam
            <a href="https://twitter.com/h2o_bro"><i class="fa fa-twitter"></i></a> at
            <a href="https://www.centrality.ca/"><span class="centrality">Centrality
              Data Science</span><i class="fa fa-external-link-square"></i></a>.
          </p>
          <p>
            Please get in touch on Twitter or through our homepage if you are
            interested in helping us expand Budgee beyond Alberta&rsquo;s borders,
            or want to request a particular jurisdication to be added.
            We&rsquo;re also happy to try our best to answer any questoins about
            the app, the data, or municipal governments and open data concepts
            in general!
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
          <div class="row" id="who-we-are">
            <div class="col-sm-5">
              <h1>Who are we?</h1>

              <p>
                <span class="centrality">Michael Underwood</span>
                is a software developer with a doctorate in
                physics. A Calgary native, he has also lived abroad and
                travelled extensively for work and for play. He enjoys finding
                solutions wherever problems exist.
              </p>
              <p>
                <span class="centrality">Paul Fairie</span>
                completed his PhD in political science at the
                University of Calgary in 2013. He has taught classes in local
                politics and research methods. Follow him on twitter
                <a href="https://twitter.com/paulisci">@paulisci</a>,
                where he tweets fun charts and bad jokes.
              </p>
              <p>
                <span class="centrality">Adam D'Souza</span>
                holds a PhD in physics. Besides data analysis, his
                interests include reading, cooking, playing the violin, and
                tweeting. He plans to try one or more of these things before
                too long.
              </p>

              <hr>

              <p>
                Together, Adam, Michael, and Paul focused their passion for
                working with data in all its forms, and founded
                <a href="https://www.centrality.ca/"><span
                  class="centrality">Centrality Data Science</span></a>
                in 2014.
              </p>
            </div>

            <div class="col-sm-7">
              <div id="creator-graph"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
          <h1>See also: CityBlocs</h1>
          <p>
            But wait, there&rsquo;s more! If you like Budgee then you&rsquo;ll also
            want to check out another project of ours.
            <a href="http://cityblocs.ca/">CityBlocs</a> also makes use of freely
            available government data to analyse the voting patterns of city
            councils across Canada.
          </p>
        </div>
      </div>

    </div> <!-- container -->

    <div class="push"></div>
  </div><!-- wrapper -->

  {{> footer}}

</template>
