<template name="expenses_missing">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="pull-right">
      <a href="/contact"><img id="confused_budgie" src="/img/confused_budgie.png"></a>
    </div>
    <h2>Budget data not found!</h2>
    <p>
      Sorry, we couldn&rsquo;t find any data for that combination of municipality
      and year.
    </p>
    <p>
      If you believe this is a problem with the app, please click on the confused
      Budgee budgie to contact us. He&rsquo;s sorry to disappoint you, and would
      like to help.
    </p>
  </div>
</template>
