<template name="footer">
  <div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <div id="social">
          <a href="https://github.com/centralitydata"><i class="fa fa-github fa-4x"></i></a>
          <a href="https://twitter.com/paulisci"><i class="fa fa-twitter fa-4x"></i></a>
          <a href="https://www.youtube.com/channel/UCR8XNoqWbuU8UPsEuKDCx5A"><i class="fa fa-youtube-play fa-4x"></i></a>
        </div>
      </div>
    </div>

  <hr>


  <footer>
    <div class="container">
      <p class="pull-right attribution">Banner image includes works by
        <a href="https://www.flickr.com/photos/teegardin/5537894072">Ken Teegardin</a>
        and <a href="https://commons.wikimedia.org/wiki/File:Village_Milo_Alberta.jpg">Wikimedia user Migco</a>
      </p>
      <p><a href="https://www.centrality.ca/"><span class="centrality"></span>
        Centrality Data Science, 2015</a></p>
    </div> <!-- .container -->
  </footer>
  </div> <!-- .container -->

</div> <!-- .footer -->
</template>
