<template name="home">
  <div class="wrapper">
    {{> nav hideInputs=true}}

    <div class="jumbotron">
      <div class="container">
        <h1><img src="img/qed_treemap.png"> Budgee</h1>
        <h2>The Municipal Budget App</h2>
        <div class="row">
          <div class="col-sm-1 col-md-2"></div>
          <div class="col-sm-10 col-md-8">
            <div id="main-inputs">
              <form id="vis-params" class="form-inline">
                <div class="form-group">
                  <select id="vis-municipality" class="form-control">
                    <option value="-1">Select a municipality...</option>
                    {{#each municipalities}}
                      <option value="{{_id}}" {{selected _id active_id}}>{{name}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="form-group">
                  <select id="vis-year" class="form-control">
                    <option value="-1">Year</option>
                    {{#each years}}
                      <option value="{{year}}" {{selected year active_year}}>{{year}}</option>
                    {{/each}}
                  </select>
                </div>
                <button type="submit" class="btn btn-success">Go</button>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>
              Ever wonder how your municipality spends its money?
              Well, Budgee is here to help!
            </p>
            <p>
              Select a municipality and a year, then press Go to find out!
            </p>
            <p>
              <a href="#">Find out more about Budgee here.</a>
            </p>
          </div>
          <div class="col-md-6 text-center">
            <img id="home-logo" src="img/logo.png">
          </div>
        </div>
      </div> <!-- container -->
    </div> <!-- jumbotron -->

    <div class="push"></div>
  </div><!-- wrapper -->

  {{> footer attribution='attrib_home'}}
</template>
